<div class="pt-6 pb-12">
    <div id="card" class="">
        <!-- container for all cards -->
        <div class="container w-100 lg:w-4/5 mx-auto flex flex-col">
            <!-- card -->
            {% for post in postslist | reverse %}
            <div
                class="
                    flex flex-col
                    md:flex-row
                    overflow-hidden
                    bg-white
                    rounded-lg
                    shadow-xl
                    mt-4
                    w-100
                    mx-2
                "
            >
                <!-- media -->
                <div class="h-64 w-auto md:w-1/2">
                    <img
                        class="inset-0 h-full w-full object-cover object-center"
                        src="{{ post.data.img }}"
                        alt="{{ post.data.title }}"
                    />
                </div>
                <!-- content -->
                <div
                    class="
                        w-full
                        py-4
                        px-6
                        text-gray-800
                        flex flex-col
                        justify-between
                    "
                >
                    <h3 class="font-semibold text-lg leading-tight truncate">
                        {% if post.data.title %}{{ post.data.title }}{% else
                        %}<code>{{ post.url }}</code
                        >{% endif %}
                    </h3>
                    <p class="mt-2">{% excerpt post %}</p>
                    <p
                        class="
                            text-sm text-gray-700
                            uppercase
                            tracking-wide
                            font-semibold
                            mt-2
                        "
                    >
                        {{ post.data.author }} &bull;
                        <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
                    </p>
                    <a class="mt-2 btn" href="{{ post.url | url }}" title="{{ post.data.title }}"
                        >Read More</a
                    >
                    {% for tag in post.data.tags | filterTagList %} {% set
                    tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <!--/ card-->
        </div>
        <!--/ flex-->
    </div>
</div>
