---
layout: layouts/main.njk
---
{# {% readerBar %} #}
<div class="h-screen bg-base-200 drawer text-base-content reader-bar-start">
    <!-- this checkbox controls if drawer is open -->
    <input id="menu-drawer" type="checkbox" class="drawer-toggle" />
    <div class="flex flex-col drawer-content">
        <!-- drawer content -->
        <div class="w-full navbar bg-base-300">
            <!-- hamburger menu is only visible on mobile -->
            <div class="flex-none lg:hidden">
                <label for="menu-drawer" class="btn btn-square btn-ghost">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 stroke-current"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                        ></path>
                    </svg>
                </label>
            </div>
            {# <div class="flex-1 px-2 mx-2 font-bold"> #}
                <!-- navbar title -->
                <header><a href="/" class="flex-1 px-2 mx-2 font-bold" title="site.title"><span>{{ site.title }}</span></a></header>
            {# </div> #}
            <div class="flex-none">
                <!-- navbar is only visible for desktop -->
                <div class="hidden lg:inline-block">
                    <ul class="mr-2 space-x-2 menu horizontal">
                        {%- for nav in navs -%}
                        <li>
                            <a
                                target="_blank"
                                class="rounded-btn flex justify-items-end"
                                href="{{ nav.link }}"
                                title="Title"
                                >
                                <i class="{{ nav.icon }}"></i>
                                <span class="ml-2">{{ nav.content }}</span>
                                </a
                            >
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <select class="select" onchange="changed()" data-choose-theme>
                    {% for theme in themes %}
                    <option value="{{ theme.id }}">{{ theme.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- main content -->
        {{ content | safe }}
    </div>
    <!-- drawer sidebar for mobile -->
    <div class="drawer-side">
        <label for="menu-drawer" class="drawer-overlay"></label>
        <ul class="p-4 overflow-y-auto menu w-80 bg-base-100">
            {%- for nav in navs -%}
              <li>
                <a
                  target="_blank"
                  class="rounded-btn flex justify-items-end"
                  href="{{ nav.link }}"
                  title="{{nav.content}}"
                  >
                  <i class="{{ nav.icon }}"></i>
                  <span class="ml-2">{{ nav.content }}</span>
                  </a
                  >
              </li>
            {%- endfor -%}
        </ul>
    </div>
</div>
