---
layout: layouts/base.njk
---

<div
    class="hero min-h-screen"
    style="background-image: url('/logo.webp')"
>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="text-center hero-content text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl">Hello there</h1>
            <p class="mb-5" id="desciption"></p>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="animate-bounce h-6 w-6 justify-center mx-auto"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 14l-7 7m0 0l-7-7m7 7V3"
                />
            </svg>
        </div>
    </div>
</div>
<main class="py-10 px-5">
    {{ content | safe }}
</main>
