---
layout: layouts/base.njk
tags: post
---
</head>
<body>
  <img src="{{ img }}" class="mx-auto w-full px-5 rounded-btn m-5" alt="{{title}}">
  <h1 class="pt-10 px-5">{{ title }}</h1>
  <time class="px-5" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
  <main>
    {{ content | safe }}
  </main>
  <script src="https://utteranc.es/client.js"
        repo= "{{ comment.repo }}"
        issue-term="{{ comment.issueTerm }}"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</body>
